* {
    box-sizing: border-box;
}
.card {
    border: 1px solid black;
    width: 35%;
}

.card-header {
    background-color: blue;
    color: white; 
}

.card-content {
    border: 1px solid black;
}