* {
    box-sizing: border-box;
}

.card {
    border-radius: 1.5em;
    width: 40%;
    margin-bottom: 15px;
}

.card-body {
    background-color: blue;
    color: white; 
    text-align: center;
    padding: 10px 0 10px 0;
    border-radius: 1.5em;
    border: 2px solid black;
}
.card-content div {

    padding: 10px 0 10px 0;
}

h3 {
    margin-left: 30px;
}

p {
    font-size: 20px;
    margin-left: 55px;
    margin-right: 55px;
    border-bottom: 1px solid black;
    padding-bottom: 14px;
}

p a {
    text-decoration: none;
    color: blue;
}